$test-color: blue;
$font-stack: "Helvetica";
$grey-bg: rgb(63, 63, 63);
$vio-bg: rgb(94,23,235);
$bl-bg: black;
$wt-bg: #F5F5EF;//white;
$gradient: linear-gradient(270deg, rgb(94,23,235) 20%, rgb(225, 0, 112) 90.13%);